.discovery-container{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}


.discovery-wrapper{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 26px;
    padding: 0 50px;
}


.discovery-card{
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    max-height: 540px;
    padding: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    transition: all 0.2s ease-in-out;
}


.discovery-card:hover{
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}


.discovery-icon{
    height: 160px;
    width: 160px;
    margin-bottom: 10px;
}


.discovery-h1{
    font-size: 2.5rem;
    color: #000;
    margin-bottom: 64px;

}


.discovery-h2{
    font-size: 1rem;
    margin-bottom: 10px;
}


.discovery-p{
    font-size: 1rem;
    text-align: center;
}















@media screen and (max-width: 960px) {
    .discovery-container{
        height: 1100px;
    }


    .discovery-wrapper{
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
}


@media screen and (max-width: 480px) {
    .discovery-container{
        height: 1300px;
    }


    h1{
        font-size: 2rem;
    }



}



























































































